* {
    margin: 0;
    padding: 0;
}
a  {
    text-decoration: none;    
}
.logo {
    font-size: 3rem;
}

.navbar {
    background-color: rgb(149, 149, 180);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.navbar .menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
}
